/***************************
	TABLE OF CONTENT
	01 - Reset
	02 - Global styles
	03 - Typography
	04 - Icons
	05 - Buttons
	06 - Lists
	07 - Tables
	08 - Layout
	09 - Header
	10 - Search results
	11 - Gallery
	12 - Sales
	13 - HomePage
	14 - Content
	15 - Booking
	16 - Static pages
	17 - Blog
	18 - Testimonials
	19 - Destinations
	20 - Crew
	21 - Faq
	22 - Login, register
	23 - Error page
	24 - Contact
	25 - Sidebars
	26 - Footer
	27 - Preloader
	28 - Form elements
	29 - Plugins
	30 - Print
	31 - Responsiveness
****************************/
@import '/css/rawline.css';
/* 01 RESET */
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body {font:15px/1.42 'rawline',Arial,Helvetica,sans-serif;text-align:center;color:#444;background:#F1F1F1;word-wrap:break-word;text-rendering:optimizeLegibility;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td,figure{border:0;margin:0;padding:0}
/* ทำให้ fullcalendar ไม่สามารถใช้ event พวก dayclick กับ selectable ได้
เวลาใช้งาน plugin คู่กับตัว slider revolution
html {overflow-y: scroll;-webkit-text-size-adjust:auto;-webkit-overflow-scrolling: touch;}*/

img,fieldset,abbr,acronym{border:0;}
article,aside,figure,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}

img 			{border:0;max-width:100%;vertical-align:middle;height:auto;display:block;}
figure		{position:relative;overflow:hidden;}
figure img 	{display:block;}

iframe,
.fb_iframe_widget 	{border:0;max-width:100%;width:100%;overflow:hidden;}

input,button,select,textarea {font-family: inherit;font-size: inherit;line-height: inherit;}

/* 02 GLOBAL STYLES */

p {line-height:1.5;padding:0 0 20px;}

a {text-decoration:none;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.content a {color:#BB9C6F;font-weight:600;}

::-moz-selection	{background:#2b3a42;color:#fff;}
::selection			{background:#2b3a42;color:#fff;}

.left 		{float:left !important;}
.right 		{float:right !important;}
.center		{text-align:center !important;}
.center img 	{margin:0 auto;}

.left-pic 	{float:left;margin:0 30px 0 0;}
.right-pic 	{float:right;margin:0 0 0 30px;}

/* 03 TYPOGRAPHY */
h1 {font-weight:normal;font-size:31px;padding:0 0 25px;}
h2 {font-weight:normal;font-size:26px;padding:0 0 37px;color:#2B3941;}
h3 {font-weight:normal;font-size:21px;padding:0 0 15px;}
h4 {font-weight:normal;font-size:18px;padding:0 0 15px;color:#2B3941;}
h5 {font-weight:normal;font-size:16px;padding:0 0 15px;}
h6 {font-weight:normal;font-size:14px;padding:0 0 15px;}

.logo, h1, h2, h3, h4, h5, h6,nav.tabs,.tab-content .accordion dt,.results figcaption dt,ol.custom li:before,.home .hentry h3,.booking .box-white h5,.boxed header,.details .price	 {font-family: 'Roboto Slab', serif;}

strong {font-weight:600;}
p.lead {font-size:17px;font-weight:500;padding:5px 0 15px;}

/* 04 ICONS */       
.circle 		{display:table;margin:0 auto;width:30px;height:30px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-align:center;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.circle span {display:table-cell;vertical-align:middle;}
.circle a 	{display:inline-block;width:100%;height:100%;}

.circle.small 	{background:#C5A97F;color:#fff;float:left;margin:0 8px 8px 0;text-indent:0;line-height:30px;}
.circle.small .fa-envelope 	{font-size:14px;}
a.circle.small:hover,
a.circle.small:focus		{background:#515e64;}

.circle.large 		{background:#fff;width:80px;height:80px;font-size:40px;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;font-size:36px;}
.circle.large span 	{font-size:40px;color:#C5A980;}
.circle.border			{border:1px solid #e0e0e0;}
.circle.large:hover 		{background:#C5A980;border-color:#C5A980;}
.circle.large:hover span {color:#fff;}

/* 05 BUTTONS */
.button 					{display:inline-block;border-style:solid; border-width:2px;text-align:center;text-transform:uppercase;font-weight:bold;padding:0 20px;max-width:100%;white-space:nowrap;}

.button.white 			{border-color:#fff;color:#fff;}
.button.white:hover,
.button.white:focus 		{background:#fff;color:#C5A981;}
.button.solid.white 		{background:#fff;color:#C5A981;} 

.button.gold 			{border-color:#C4A981;color:#BB9C6F;}
.button.gold:hover,
.button.gold:focus 		{background:#C4A981;color:#fff;}
.button.solid.gold 		{background:#C4A981;color:#fff;} 
.button.solid.gold:hover,
.button.solid.gold:focus {background:#CAB08A;} 

.button.small 	{font-size:13px;height:42px;line-height:38px;}
.button.medium 	{height:50px;line-height:46px;min-width:200px;}
.button.large 	{font-size:20px;font-weight:600;height:70px;line-height:68px;min-width:270px;}

.button.full	{width:100%;}

.more 			{display:inline-block;text-transform:uppercase;font-weight:600;font-size:14px;color:#444 !important;margin:10px 0 20px;}
.more:hover,
.more:focus 		{color:#BB9C6F !important;}

/* 06 LISTS */
ul 				{margin:0 0 17px;}
ul > li	  		{list-style:none;position:relative;padding:0 0 8px 15px;}
ul > li:before 	{content:"\25A0";font-size:8px;color:#DBBC94;position:absolute;top:3px;left:0;}
ul ul 				{margin:8px 0 -8px 2px;}
ul ul li:before		{content:"\00af";font-size:25px;top:0;left:-2px;} 			
ol				{margin:0 0 17px 25px;display:inline-block;}
ol li 	  			{list-style:decimal outside;padding:0 0 8px 5px;}
ol ol 			{margin:8px 0 -8px 15px;}

nav ul				{margin:0;}
nav ul > li				{padding:0;}
nav ul > li:before 		{display:none;}

ul.check li			{padding:0 0 10px 20px;}
ul.check li:before 	{font-family:'FontAwesome';content:"\f00c";top:1px;font-size:14px;}

ul.twins li,
ol.twins li,
.twins > div	{float:left;width:50%;}
ul.triplets li,
ol.triplets li,
.triplets > div 	{float:left;width:33.3334%;}
ul.quadruplets li,
ol.quadruplets li,
.quadruplets > div 	{float:left;width:25%;}

ul.icons				{margin-left:-15px;}
ul.icons li 			{padding:0;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
ul.icons li:before 	{display:none !important;}
ul.icons li span 		{vertical-align:middle;margin-right:5px;}
ul.icons li a 			{display:inline-block;padding:15px;color:#444;font-weight:400;}
ul.icons li:hover,
ul.icons li:focus 		{background:#fff;}

ul.icons li:hover span,
ul.icons li:focus span 	{color:#DBBC94;}

ul.nobullet li 		{padding:0 0 8px;}
ul.nobullet li:before	{display:none !important;}

ol.custom 				{counter-reset: li;list-style: none;*list-style: decimal;padding: 0;margin:0;text-align:left;}
ol.custom li				{float:left;position: relative;display: block;margin:0 0 50px;padding:0 15px 0 75px;}
ol.custom li:before		{content: counter(li);counter-increment: li;position: absolute;	left:0;top:3px;color:#C5A980;border:1px solid #C5A980;height:60px;width:60px;line-height:58px;text-align: center;font-size:22px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}

.fa-ul li			{padding-left:0;}
.fa-ul li:before 	{display:none;}

/* 07 TABLES   ทำให้สีของ fullcalendar เพี้ยน*/
/*table 				{border-collapse:collapse;border-spacing:0;width:100%;margin:0 0 30px;}*/
/*table th 				{background:#515E64;border:1px solid #515E64;color:#fff;padding:14px 15px 13px;text-align:left;font-size:17px;font-weight:600;}*/
/*table td 				{background:#fff;border:1px solid #ddd;color:#515E64;padding:14px 15px 13px;}*/
/*table td:first-child 	{background:#eee;color:#444;}*/

/*.tab-content table td:first-child {width:34%;}*/

.pricing 		{text-align:center;padding:20px 0;}
.pricing table 	{margin:0;}
.pricing th 		{height:80px;border:none;border-bottom:1px solid #ddd;font-size:18px;background:#f6f6f6;color:#444;border-color:transparent;text-transform:uppercase;text-align:center;}
.pricing td,
.pricing td:first-child 			{background:#fff;border:none;border-bottom:1px solid #ddd;}
.pricing tr:nth-child(2) td 		{font-size:60px;font-weight:500;color:#C5A980;}
.pricing tr:nth-child(2) td sup 	{font-size:20px;}
.pricing tr:nth-child(2) td span 	{font-size:14px;}
.pricing .active 				{border:1px solid #515e64;margin-top:-21px;position:relative;z-index:2;-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);-moz-box-shadow:0 0 10px rgba(0,0,0,.2);box-shadow:0 0 10px rgba(0,0,0,.2);}
.pricing .active th 				{background:#515e64;border-color:#515e64;color:#fff !important;height:100px;}
.pricing .active .button 			{margin-bottom:20px;}

/* 08 LAYOUT */
.wrap 		{margin:0 auto;width:1170px;text-align:left;position:relative;max-width:94%;display:inline-block;}
.main 		{margin-top:80px;float:left;width:100%;}
.row		{margin:0 -15px;padding:0 !important;}

.full-width 	 	{float:left;width:100%;padding:0 15px 30px;max-width:100%;}
.three-fourth 	{float:left;width:75%;padding:0 15px 30px;max-width:100%;}
.one-half		{float:left;width:50%;padding:0 15px 30px;max-width:100%;}
.one-third 		{float:left;width:33.33%;padding:0 15px 30px;max-width:100%;}
.two-third 		{float:left;width:66.66%;padding:0 15px 30px;max-width:100%;}
.one-fourth 		{float:left;width:25%;padding:0 15px 30px;max-width:100%;}
.one-fifth 		{float:left;width:20%;padding:0 15px 30px;max-width:100%;}
.one-sixth 		{float:left;width:16.66%;padding:0 15px 30px;max-width:100%;}
.one-seventh 	{float:left;width:14.2857%;padding:0 15px 30px;max-width:100%;}

.row:before,.row:after,.wrap:before,.wrap:after  	{content: "";display:table;}
.row:after,.wrap:after 								{clear: both;}

.boxed div, .boxed article, .boxed figure,.boxed aside,.nopad {padding:0;}

/* 09 HEADER */
.header 			{background:#fff;height:80px;position:fixed;top:0;left:0;width:100%;z-index:99;border-bottom:1px solid #ddd;}
.header > .wrap 	{display:table;height:80px;}
.header .logo	{display:table-cell;vertical-align:middle;padding:5px 0;color:#2B3A42;font-size:15px;}
.logo span		{font-size:37px;text-shadow:0 0 0 #2B3A42;float:left;margin:2px 5px 0 0;}

.main-nav 				{float:left;}

.advanced-search						{position:fixed;top:80px;left:0;width:100%;z-index:9999;text-align:center;background:#fff;-webkit-box-shadow:2px 3px 3px rgba(0,0,0,.1);-moz-box-shadow:2px 3px 3px rgba(0,0,0,.1);box-shadow:2px 3px 3px rgba(0,0,0,.1);}
.advanced-search .wrap > div				{float:left;width:15%;padding:30px 15px;position:relative;}
.advanced-search .wrap > div:first-child 	{width:25%;padding-left:0;}
.advanced-search .wrap > div:last-child 	{padding-right:0;}
.advanced-search .selector			{color:#787878;font-weight:500;}
.advanced-search .button 			{border-width:1px;font-size:13px;font-weight:600;height:45px;white-space:nowrap;}
.ui-datepicker 						{z-index:99999 !important;}
.ui-datepicker th					{font-size:13px;padding:10px 15px;}
.ui-datepicker td					{font-size:14px;}
#startDate							{background:#fff url(../images/datepicker.png) 90% 13px no-repeat;}
.advanced-search .selector,
.advanced-search .selector span,
.advanced-search input 				{font-size:13px;text-transform:uppercase;color:#515E64;}
.search-hide						{float:right;padding:0 15px 15px;color:#bbb;font-weight:400 !important;margin-top:-15px;position:relative;z-index:2;}
.search-hide:hover,
.search-hide:focus					{color:#CAB08A;}


/* 10 SEARCH RESULTS */
.fixed 						{position:fixed;top:80px;left:0;z-index:9999;padding:0;}
.search-filter				{float:left;width:100%;background:#2B3A42;color:#fff;padding:25px 0 0;}
.search-filter div.checker, 
.search-filter div.checker span, 
.search-filter div.checker input				{width:20px;height:20px;}
.search-filter div.checker span				{background:#2B3A42;color:#ddd;}
.search-filter .checker span.checked:before 	{content:"\f00d";color:#ddd;text-shadow:none;left:3px;top:-1px;}
.search-filter p 							{font-weight:600;}
.search-filter .checkbox label 				{color:#eee;padding:0;}
.search-filter .checkbox 					{padding:5px 0;display:inline-block;width:100%;}
.search-filter div.selector		 			{border:1px solid #ddd;line-height:40px;height:40px;background:#2B3A42;color:#eee;}
.search-filter div.selector span 				{height:40px;line-height:40px;background:#2B3A42;}
.search-filter div.selector select 				{height:40px;color:#eee;background:#2B3A42;}
.search-filter div.selector.active,
.search-filter div.selector.focus 			{border-color:#ddd;}
.filter-hide								{float:right;padding:0 15px;color:#CAB08A;font-weight:400 !important;}
.filter-show								{position:fixed;top:15px;right:15px;width:50px;height:50px;z-index:99999;background:#2B3A42;color:#fff;text-align:center;float:left;font-size:37px;text-align:center;}

.offset						{margin-top:197px;}
.results 	 				{float:left;width:100%;}
.results figure 				{padding:0;position:relative;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.results figure *				{position:relative;z-index:2;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.results figcaption 			{text-align:center;padding:30px;position:absolute;top:0;left:0;width:100%;height:100%;z-index:20;opacity:0;-ms-opacity:0;color:#515E64;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-moz-box-shadow:0 0 10px rgba(0,0,0,.4);box-shadow:0 0 10px rgba(0,0,0,.4);}
.results figcaption:before		{border:1px solid rgba(189,189,189,.7);content:"";position:absolute;top:5px;bottom:5px;left:5px;right:5px;}
.results figure:hover figcaption	{opacity:1;-ms-opacity:1;}
.results figcaption dl 				{}
.results figcaption dt				{font-size:21px;font-weight:700;text-transform:uppercase;padding:0 0 27px;}
.results figcaption dd				{width:50%;float:left;}
.results figcaption dd:last-of-type				{padding-left:10px;}
.results figcaption dd:last-of-type:after 		{content:"";position:absolute;left:0;height:23px;border-left:1px solid #ddd;}
.results .price					{padding:0 0 20px;}
.results .price strong 			{font-size:21px;font-weight:700;}

/* 11 GALLERY */
.gallery 	 				{float:left;width:100%;}
.gallery figure 				{padding:0;position:relative;overflow:hidden;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.gallery figure *				{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease;}
.gallery figcaption 			{cursor:pointer;position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;opacity:0;-ms-opacity:0;color:#fff;background:rgba(43,58,66,.9);}
.gallery figcaption div			{text-align:center;position:absolute;top:-120%;left:0;padding:0 30px;}
.gallery figcaption h5 			{font:700 17px 'rawline',Arial,Helvetica,sans-serif;padding:0 0 15px;}
.gallery figcaption p 			{font-weight:500;line-height:1.32;}
.gallery figcaption span 			{position:absolute;top:120%;left:47%;}
.gallery figure:hover figcaption		{opacity:1;-ms-opacity:1;}
.gallery figure:hover figcaption div 	{top:45%;}
.gallery figure:hover figcaption span 	{top:18%;}

figure a img	 		{-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease; transition: all 1s ease;}
figure a:hover img	 	{-webkit-transform:scale(1.25);-moz-transform:scale(1.25);-ms-transform:scale(1.25);-o-transform:scale(1.25);transform:scale(1.25);}

.lg-outer {text-align:left;}

/* 12 SALES */
.sales .item dd						{width:100%;padding:0 0 5px;text-align:center;border:none;}
.sales .item dd:last-of-type			{padding:0 0 25px;}
.sales .item dd:last-of-type:after 	{display:none;}

/* 13 HOMEPAGE */
section				{float:left;width:100%;}
.home section			{position:relative;}
.home section h2 		{font-weight:normal;font-size:31px;padding:0 0 25px;}
.home .hentry h3 		{font-size:30px;font-weight:400;}
section.white 		{background:#fff;color:#515E64;padding:50px 0;}
section.white h2		{padding-bottom:38px;}

.hero						{overflow:hidden;min-height:500px;height:100vh;width:100%;color:#fff;display:table;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.hero article 					{display:table-cell;vertical-align:middle;position:relative;z-index:2;text-shadow:0 2px 2px rgba(0, 0, 0,.15);}
.hero h1						{font-size:40px;font-weight:300;padding:0 0 115px;}
.hero .button.medium 		{height:60px;line-height:58px;padding:0 25px;}
.hero .button.medium:hover 	{text-shadow:none;}

.home nav.tabs 		{height:260px;margin:0;}
.home nav.tabs li		{font-size:19px;line-height:1.32;}

.white.app			{background:#fff url(../uploads/app.jpg) 0 100% no-repeat;padding-bottom:500px;}
.app p 				{font-size:17px;padding:0 0 50px;}
.app img 			{margin:0 -60px 0 -100px;}
.app ol.custom		{margin-top:10px;}
.app ol.custom strong 	{font-size:17px;}

.photo				{overflow:hidden;position:static !important;padding:70px 0 80px;color:#fff;background:url(../uploads/ship.jpg) 50% 50% no-repeat;background-size:cover; background-attachment: fixed;-webkit-background-size: cover !important;}
.photo .wrap.center 	{position:relative;z-index:2;max-width:50%;}
.photo h2			{color:#fff;padding:0 0 40px !important;}
.photo p 			{font-size:18px;font-weight:600;padding:0 0 50px;}

section.icons		{padding-bottom:10px;}
.icons .row > div 	{text-align:center;}
.icons h4			{font-size:17px;padding:15px 0 9px;color:#515E64;}
.icons h4 a 			{color:#515E64;}
.icons h4 a:hover 	{color:#BB9C6F;}

.lightSlider			{display:block;margin:0;}
.lightSlider li 			{padding:0;}
.lightSlider li:before 	{display:none;}
.lSAction				{position:absolute;right:5%;bottom:50px;font-size:14px;}
.lSAction > a			{background-image:none !important;width:auto !important;height:auto !important;top:93% !important;position:static !important;float:left;padding:0 0 0 15px;color:#515E64;font-weight:400;}
.lSNext					{border-left:1px solid #ddd;margin:0 0 0 15px;}

/* 14 CONTENT */
.content		{float:left;width:100%;}

.intro 			{background:rgba(17, 135, 224, 0.41);float:left;width:100%;color:#fff;padding:31px 0 5px;}
.intro.dark		{background-image:url(../images/dark-bg.png);}
.intro .wrap 	{text-align:center;max-width:65%;}
.intro p 		{font-size:17px;font-weight:500;padding:0 0 35px;}
.intro .button 	{margin-bottom:37px;}

.cta 				{float:left;width:100%;color:#fff;padding:31px 0 5px;}
.wrap.center 		{text-align:center;max-width:65%;}
.cta h2				{color:#fff;}
.cta h3				{font-size:26px;font-weight:300;padding:5px 0 0;}
.cta p 				{font-size:17px;font-weight:500;padding:0 0 35px;}
.cta .button 		{margin-bottom:25px;}
.cta .center .button 	{margin-bottom:37px;}
.cta.gold 			{background:url(../images/gold-bg.png) 0 0 repeat;}
.cta.grey 			{background:#515E64;}

nav.tabs 				{float:left;width:100%;height:130px;background:#2B3A42;padding:25px 0;margin-bottom:45px;}
nav.tabs ul 				{display:inline-block;margin:0;max-width:100%;height:100%;}
nav.tabs li 				{float:left;height:100%;padding:0;text-align:center;border-right:1px solid rgba(255,255,255,.18);font-size:17px;color:#fff;}
nav.tabs li:first-child 	{border-left:1px solid rgba(255,255,255,.18);}
nav.tabs li a 				{float:left;width:100%;height:100%;color:#fff;font-weight:400;}
nav.tabs li span 			{font-size:40px;display:inline-block;width:100%;margin:3px 0 15px;}
nav.tabs li img 			{margin:8px auto 25px;height:120px;}
nav.tabs li.current a,
nav.tabs li:hover a 		{color:#C5A981;}

nav.tabs.one li 		{width:100%;}
nav.tabs.two li 		{width:50%;}
nav.tabs.three li 		{width:33.3334%;}
nav.tabs.four li 		{width:25%;}
nav.tabs.five li 		{width:20%;}
nav.tabs.six li 		{width:16.6667%;}
nav.tabs.seven li 		{width:14.2857%;}

nav.tabs.vertical 				{height:auto;padding:0;margin-bottom:30px;}
nav.tabs.vertical ul 				{float:left;width:100%;}
nav.tabs.vertical li 				{width:100%;border-right:none;border-left:none;text-align:left;font-family:'rawline',Arial,Helvetica,sans-serif;}
nav.tabs.vertical li a 			{padding:21px 25px;border-bottom:1px solid rgba(255,255,255,.18);font-weight:500;line-height:normal;}
nav.tabs.vertical li.current a 	{background:#C5A981;color:#fff;}

.tab-content 				{padding:0 0 65px;width:100%;float:left;}
.tab-content h3,
.inquiry h3					{border-bottom:1px solid #ddd;margin:0 0 15px;}	
.tab-content h4				{border-bottom:1px solid #ddd;margin:0 0 15px;}	
.tab-content ul > li:before 	{color:#2B3A42;}
.tab-content .accordion 		{margin:0;}
.tab-content .accordion dt			{font-size:19px;font-weight:normal;color:#BDBDAE;padding:23px 25px;}
.tab-content .accordion .expanded 	{color:#ba9b6e;}
.tab-content .accordion h5			{font-size:19px;font-weight:normal;color:#ba9b6e;}
.accordion label,
.accordion input,
.accordion textarea,
.accordion .selector 				{color:#515E64;}

.tab-content .box-white 	{margin:0 0 30px;}

.userdata					{border:1px solid #ddd;background:#fff;margin:0 0 30px;float:left;width:100%;}
.userdata h3 				{position:relative;font-family:'rawline',Arial,Helvetica,sans-serif;padding:0 80px 17px 0;color:#515E64;}
.userdata h3 .badge 			{position:absolute;top:4px;right:0;}
.userdata .one-third,
.userdata .two-third			{padding:0;}
.userdata .two-third > div 	{padding:20px 30px;}
.userdata .date				{font-weight:700;color:#ba9b6e;}
.userdata .price 			{font-size:27px;font-weight:700;padding:2px 0 9px;}
.userdata .button 			{min-width:120px;}

.profile-pic 		{margin:10px auto 20px;-webkit-border-radius:80px;-moz-border-radius:80px;border-radius:80px;width:160px;height:160px;}

div.border 		{background:#fff;padding:10px;border:1px solid #ddd;margin:0 0 30px;overflow:hidden;text-align:center;}
div.border img 	{margin:0 auto;}

.box			{color:#fff;margin:0 0 30px;position:relative;padding:30px !important;display:inline-block;width:100%;}
.box:before 		{border:1px solid rgba(255,255,255,.25);content:"";position:absolute;top:5px;bottom:5px;left:5px;right:5px;}	
.box *			{position:relative;z-index:2;}
.box p 					{padding:0 0 10px;}
.box p:last-of-type 		{padding:0;}
.box .button 			{margin-top:22px;}

.box-grey 			{background:#eee;border:1px solid #ddd;padding:22px 25px 4px;margin:0 0 30px;display:inline-block;}

.box-navy h4			{border:none;color:#fff;margin:0 0 7px !important;}
.box-navy h4 span 	{float:left;margin:-2px 15px 0 0;font-size:32px;}

.box-white 		{display:inline-block;width:100%;background:#fff;border:1px solid #ddd;color:#515E64;padding:20px 30px;}
.box-white h1,
.box-white h2,
.box-white h3,
.box-white h4,
.box-white h5,
.box-white h6 	{font-family:'rawline',Arial,Helvetica,sans-serif;padding:0 0 17px;color:#515E64;}

.box-white h2	{padding-top:10px;}
.box-white h5	{font-size:19px;font-weight:500;}
.box-white h6	{font-size:16px;font-weight:600;}

.box-red,
.badge-red 			{background:#d32f2f;}
.box-green,
.badge-green 		{background:#388e3c;}
.box-yellow,
.badge-yellow		{background:#ffc400;}
.box-blue,
.badge-blue			{background:#0097a7;}
.box-navy,
.badge-navy 			{background:#2B3A42;}
.box-gold,
.badge-gold 			{background:#BB9C6F;}

.badge {padding:4px 5px 3px;color:#fff;font-size:10px;text-transform:uppercase;font-weight:700;}

.tab-content .widget {display:inline-block;width:100%;margin:0 0 30px;}

.tooltip 		{width: 100%;background: #fff;border: 2px solid #C5A981;position: relative;min-height: 170px;padding:26px 30px;}
.tooltip:after 	{content:"";display: block;position: absolute;width: 28px;height: 28px;background: #fff;-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}

.tooltip.top			{margin-top:30px;}
.tooltip.top:after 		{top:-15px;left:57px;border-right:2px solid #C5A981;border-top:2px solid #C5A981;}
.tooltip.bottom			{margin-bottom:30px;}
.tooltip.bottom:after 	{bottom:-15px;left:57px;border-left:2px solid #C5A981;border-bottom:2px solid #C5A981;}
.tooltip.left:after 		{top:57px;left:-15px;border-left:2px solid #C5A981;border-top:2px solid #C5A981;}
.tooltip.right:after 	{top:57px;right:-15px;border-right:2px solid #C5A981;border-bottom:2px solid #C5A981;}

.tooltip blockquote	 {position:relative;z-index:2;}
.vcard 			   	{display:inline-block;width:100%;padding-left:30px;}
.vcard .avatar	 	{float:left;margin:0 15px 0 0;width:90px;}
.vcard span			{display:block;padding:8px 0 0;}
.vcard .name			{font-weight:600;}

.item .box-white {border-top:none;margin:0 !important;}
.item dl 			{color:#515E64;border-bottom:1px solid #ddd;margin:0 0 20px;display:inline-block;width:100%;}
.item dt 			{font:500 19px 'rawline',Arial,Helvetica,sans-serif;padding:0 0 20px;}
.item dd 		{border-top:1px solid #ddd;width:100%;padding:13px 0 7px;display:inline-block;text-align:left;}
.item dd span	{color:#BDBDAE;font-size:35px;float:left;margin:-6px 10px 0 0;}


/* 15 BOOKING */
.booking .box-white h5 	{color:#C4A980;}
.summary 				{color:#515E64;}
.summary dt				{float:left;width:36%;border-bottom:1px solid #ddd;font-weight:500;padding:14px 0;}
.summary dd				{float:left;width:64%;border-bottom:1px solid #ddd;padding:14px 0;}
.summary dt:last-of-type,
.summary dd:last-of-type {border-bottom:none;font-size:17px;color:#2B3A42;font-weight:600;padding:21px 0 3px;}

/* 16 STATIC PAGES */
.static 		{padding:45px 0 65px;}

/* 17 BLOG */
.boxed .hentry,
.hentry > div 					{background:#fff;}
.boxed .hentry > div:before 		{border-color: transparent #fff transparent transparent;}
.boxed .hentry:nth-child(2n) > div:before		{border-color: transparent transparent transparent #fff;}

.hentry .meta 					{padding:15px 0;display:inline-block;width:100%;margin:0 0 4%;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.hentry .meta span 				{float:left;border-right:1px solid #ddd;padding:0 15px 0 0;margin:0 15px 0 0;}
.hentry .meta span:last-child 	{border-right:none;}
.hentry .meta a 					{color:#444;font-weight:400;}
.hentry .meta a:hover,
.hentry .meta a:focus 			{color:#BB9C6F;}

.entry-featured img 				{width:100%;}
.entry-content h2				{font:500 21px 'rawline',Arial,Helvetica,sans-serif;color:#515E64;padding:0 0 30px;}
.entry-content .meta				{margin:0 0 20px;}
.entry-content .box-white 		{margin:0;padding:30px;border-top:none;}
.entry-content .box-white p:last-child {padding:0;}

.comments					{border-top:none;padding:0;margin:0;}
.comments h6					{font-size:17px;font-weight:500;padding:30px 30px 0;}
.comments ul 					{margin:0;}
.comments li 					{padding:30px;border-bottom:1px solid #ddd;width:100%;display:inline-block;}
.comments li:before			{display:none;}
.comments .comment-author 	{font-size:13px;color:#999;margin:-4px 0 17px;}
.comments form 				{padding:30px 15px 0;}

.pager 				{border-top:none;width:100%;clear:both;padding:25px;}
.pager span 			{font-size:21px;float:left;margin:1px 5px 0 0;}
.pager a 			{float:left;color:#BDBDAE;font-weight:500;font-size:16px;}
.pager a:hover,
.pager a:focus 		{color:#515E64;}
.pager .next 		{float:right;}
.pager .next span 	{float:right;margin:1px 0 0 5px;}

.pager2 				{float:left;width:100%;}
.pager2 a,
.pager2 span 		{background:#fff;padding:10px 15px;margin:0 10px 0 0;float:left;}
.pager2 a:hover,
.pager2 a:focus 		{background:#C4A981;color:#fff;}

/* 18 TESTIMONIALS */
.testimonials 	{background:#e5e5e5 url(../images/map-bg.jpg) 50% 0 no-repeat;background-size:100% auto;display:inline-block;width:100%;padding:80px 0 60px;color:#2B3941;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.2);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.2);box-shadow:inset 0 0 3px rgba(0,0,0,.2);}
.testimonials h6	{font-size:30px;font-weight:500;padding:0 0 25px;}
.testimonials p 	{font-size:18px;font-weight:500;}

/* 19 DESTINATIONS */
.boxed 				{text-align:left;overflow:hidden;}
.boxed figure 			{overflow:hidden;}
.heightfix img 		{max-width:none;width:100%;height:100%;}

.boxed > article > div 				{position:relative;}
.boxed > article > div:before 		{content:"";position:absolute;top:10%;left:-15px;width: 0;height: 0;border-style: solid;border-width: 15px 15px 15px 0;border-color: transparent #f1f1f1 transparent transparent;}

.noarrow > article > div:before			{display:none;}

.boxed header 				{width:100%;background:#F4F4F4;padding:15px 7%;color:#787878;font-size:19px;font-weight:300;}
.details 					{display:inline-block;width:100%;border:1px solid #ddd;border-bottom:none;margin:30px 0;}
.details div 					{float:left;width:50%;height:63px;border-bottom:1px solid #ddd;line-height:61px;}
.details div:nth-child(2n) 	{border-left:1px solid #ddd;}
.details span 				{color:#C5A981;border-right:1px solid #ddd;height:100%;line-height:61px;padding:0 14px;float:left;font-size:34px;}
.details p 					{line-height:61px;padding:0 15px;float:left;}
.details .price 				{color:#2B3A42;font-size:30px;padding:0 16px;font-weight:300;}
.details .button 			{min-width:0;width:100%;height:100%;line-height:61px;}

.text 			{overflow:hidden;padding:20px 25px 15px;}
.text h3 		{font-family:'rawline',Arial,Helvetica,sans-serif;font-weight:500;}
.text h3 a 		{color:#444;font-weight:500;}
.text h3 a:hover,
.text h3 a:focus 	{color:#BB9C6F;}
.text h4			{font-family:'rawline',Arial,Helvetica,sans-serif;font-weight:500;padding-bottom:6%;}

.text fieldset > div {padding-bottom:30px;}

.grid2 .text 	{padding:6% 7% 0 !important;}
.grid2 .text h3 	{padding-bottom:6%;}
.grid4 .text 	{padding:10% 10% 0 !important;}
.grid4 .text h3 	{padding-bottom:10%;}

.grid4 > article:nth-child(4n) figure,
.grid4 > article:nth-child(4n-1) figure			{float:right;}
.grid4 > article:nth-child(4n) > div:before,
.grid4 > article:nth-child(4n-1) > div:before	{left:auto;right:-15px;border-width: 15px 0 15px 15px;border-color: transparent transparent transparent #f1f1f1;}

.grid2 > article:nth-child(2n) figure 			{float:right;}
.grid2 > article:nth-child(2n) > div:before		{left:auto;right:-15px;border-width: 15px 0 15px 15px;border-color: transparent transparent transparent #f1f1f1;}

.highlight 			{display:inline-block;background:#fff;margin:15px -8% 28px;padding:5% 8% !important;-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 2px rgba(0,0,0,.2);box-shadow:0 0 2px rgba(0,0,0,.2);}
.highlight h4		{font:500 18px 'rawline',Arial,Helvetica,sans-serif;padding:0 0 4%;}
.highlight h4 span 	{font-size:22px;float:left;margin:0 8px 0 0;}
.highlight ul 		{margin:0;}

/* 20 CREW */
.crew > article 	{padding:0;text-align:left;}
.crew .box-white							{border-left:none;border-bottom:none;}
.crew > article:nth-child(4n) .box-white 	{border-right:none;}
.crew h2			{font-weight:500;font-size:19px;padding:5px 0;}
.crew h3			{font-weight:700;font-size:15px;}
.crew .sub 		{font-weight:700;color:#BA9B6E;display:inline-block;width:100%;padding:0 0 15px;}	
.crew .skills 	{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:15px 0 18px;margin:0 0 15px;}
.skill 			{font-size:14px;padding:0 0 5px;}
.meter 			{border:1px solid #ddd;width:100%;height:27px;margin:0 0 8px;}
.meter span 		{display:block;background:#515E64;height:100%;color:#fff;font-size:13px;line-height:25px;font-weight:700;text-indent:5px;}

/* 21 FAQ */
.accordion 					{background:#fff;border:1px solid #ddd;display:inline-block;width:100%;margin:10px 0 45px;}
.accordion:last-child		{margin-bottom:0;} 
.accordion dt 				{padding:25px 30px;color:#515E64;font:500 17px 'rawline',Arial,Helvetica,sans-serif;border-top:1px solid #ddd;cursor:pointer;position:relative;}
.accordion dt:after			{content:"+";position:absolute;top:15px;right:30px;font:normal 35px 'Times New Roman', serif;color:rgba(189,189,174,.7);}
.accordion .expanded			{color:#BA9B6E;}
.accordion .expanded:after	{content:"\2013";top:12px;color:#C4A981;}
.accordion dt:first-of-type 	{border:none;}
.accordion dd				{padding:0 25px 10px;font:15px/1.5 'rawline',Arial,Helvetica,sans-serif;color:#515E64;}

/* 22 LOGIN, REGISTER */
.modal {float:none;margin:0 auto;text-align:left;}

/* 23 ERROR */
.content.error {padding:65px 0;}
.content.error .one-half:last-child {padding-top:60px;}

/* 24 CONTACT */
.gmap img      		{max-width: none;}
.gmap label   		{width: auto; display:inline;} 
.infoBox 		{text-align:left;font-size:15px;width:270px;max-width:100%;padding:27px 30px 29px;margin-top:-80px;color:#fff;background:#36394A;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.infoBox span 	{font-size:17px;}

/* 25 SIDEBARS */
aside.white 			{background:#fff;color:#515E64;}
aside.white a 		{color:#515E64;}
aside.white a:hover	{color:#253238;}
aside.white h2		{color:#C5A97F;}
aside.white h5		{border-bottom-color:rgba(240,240,240,1);}

aside.navy 			{background:#2B3A42;color:#fff;}
aside.navy a 			{color:#fff;}
aside.navy a:hover	{color:#CAB08A;}
aside.navy h2			{color:#fff;}
aside.navy h5			{border-bottom-color:rgba(240,240,240,.15);}

aside.bottom			{float:left;width:100%;padding:31px 0 17px;}
aside.bottom h2 		{text-align:center;}
aside.bottom h5		{font:600 16px 'rawline',Arial,Helvetica,sans-serif;border-bottom-width:1px;border-bottom-style:solid;width:100%;padding:0 0 10px;margin:0 0 15px;}
aside.bottom p 		{padding:0;width:100%;clear:both;line-height:30px;}

aside.above-footer	{float:left;width:100%;}

.sidebar .widget	{margin:0 0 30px;display:inline-block;width:100%;}

.blog .sidebar 				{padding-left:0;padding-right:0;}
.blog .sidebar .widget 		{border-bottom:1px solid #ddd;width:100%;margin:0 0 27px;}
.blog .sidebar h3			{font:600 17px 'rawline',Arial,Helvetica,sans-serif;padding:0 0 22px;}
.blog .sidebar ul.nobullet li	{padding:0 0 5px;}
.blog .sidebar a 				{color:#444;font-weight:500;}

.blog .sidebar-right 		{margin-left:-15px;}
.blog .sidebar-right .widget 	{padding:0 15px 10px 30px;}

.latest-posts			{width:100%;margin:-10px 0 0 -10px;}
.latest-posts li			{width:100%;padding:10px 0 10px 10px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.latest-posts li:before 	{display:none;}
.latest-posts li a 		{font-weight:500 !important;display:inline-block;width:100%;}
.latest-posts li:hover,
.latest-posts li:focus		{background:#fff;}
.latest-posts li a:hover h4,
.latest-posts li a:focus h4	{color:#BB9C6F;}
.latest-posts li h4			{font-size:15px;padding:0 0 5px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.latest-posts li img 			{float:left;margin:0 15px 0 0;}
.latest-posts li .date 		{font-size:13px;color:#515E64;}

.search 					{position:relative;padding:0 0 20px}
.searchsubmit			{position:absolute;top:8px;right:8px;z-index:2;}
.searchsubmit span 		{font-size:30px;color:#BDBDAE;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.searchsubmit:hover span,
.searchsubmit:focus span		{color:#515E64;}

.widget .box-white 	{padding:20px 25px;}
.featured h4 		{font-weight:400;color:#2B3941;padding:0;font-size:17px;}
.featured a 			{font-weight:400;color:#2B3941;}
.featured a:hover,
.featured a:focus 	{color:#BB9C6F;}

.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 	{font-family:'rawline',Arial,Helvetica,sans-serif;}

/* 26 FOOTER */	
.footer 					{float:left;width:100%;background:#253238;color:#fff;padding:35px 0 0;}
.footer h6				{font-size:17px;padding:0 0 25px;}
.footer ul li 				{padding-bottom:4px;}
.footer a 				{color:#fff;}
.footer a:hover 			{color:#CAB08A;}
.footer .circle 			{float:left;background:#515E64;font-size:18px;width:40px;height:40px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;line-height:40px;margin:0 5px 5px 0;}
.footer .circle:hover 	{background:#C5A97F;color:#fff;}

.copy 				{background:#2B3A42;color:#fff;}
.copy p 				{float:left;padding:19px 0 15px;}
.copy p:last-child 	{float:right;}
.copy a 				{font-weight:600;}

/* 27 PRELOADER */
.preloader 			{position:fixed;z-index:999999;background:#fff;width:100%;height:100%;text-align:center;}
.preloader div		{position:relative;top:50%;left:47%;}
.preloader div span	{display:block;bottom:0;width: 9px;height: 5px;background:#C5A97F;position:absolute;-webkit-animation: preloader 1.5s infinite ease-in-out;-moz-animation: preloader 1.5s infinite ease-in-out;-ms-animation: preloader 1.5s infinite ease-in-out;-o-animation: preloader 1.5s infinite ease-in-out;animation: preloader 1.5s infinite ease-in-out;}
.preloader div span:nth-child(2)	{left:11px;-webkit-animation-delay: .2s;-moz-animation-delay: .2s;-ms-animation-delay: .2s;-o-animation-delay: .2s;animation-delay: .2s;}
.preloader div span:nth-child(3)	{left:22px;-webkit-animation-delay: .4s;-moz-animation-delay: .4s;-ms-animation-delay: .4s;-o-animation-delay: .4s;animation-delay: .4s;}
.preloader div span:nth-child(4)	{left:33px;-webkit-animation-delay: .6s;-moz-animation-delay: .6s;-ms-animation-delay: .6s;-o-animation-delay: .6s;animation-delay: .6s;}
.preloader div span:nth-child(5)	{left:44px;-webkit-animation-delay: .8s;-moz-animation-delay: .8s;-ms-animation-delay: .8s;-o-animation-delay: .8s;animation-delay: .8s;}

@-webkit-keyframes preloader {
    0% 		{height:5px;-webkit-transform:translateY(0px);}
    25% 	{height:30px;-webkit-transform:translateY(15px);}
    50% 	{height:5px;-webkit-transform:translateY(0px);}
    100% 	{height:5px;-webkit-transform:translateY(0px);}
}

@-moz-keyframes preloader {
    0% 		{height:5px;-moz-transform:translateY(0px);}
    25% 	{height:30px;-moz-transform:translateY(15px);}
    50% 	{height:5px;-moz-transform:translateY(0px);}
    100% 	{height:5px;-moz-transform:translateY(0px);}
}

@-ms-keyframes preloader {
    0% 		{height:5px;-ms-transform:translateY(0px);}
    25% 	{height:30px;-ms-transform:translateY(15px);}
    50% 	{height:5px;-ms-transform:translateY(0px);}
    100% 	{height:5px;-ms-transform:translateY(0px);}
}

@keyframes preloader {
    0% 		{height:5px;transform:translateY(0px);}
    25% 	{height:30px;transform:translateY(15px);}
    50% 	{height:5px;transform:translateY(0px);}
    100% 	{height:5px;transform:translateY(0px);}
}

/* 28 FORM ELEMENTS*/
fieldset 							{display:inline-block;width:100%;}
label 							{display:inline-block;cursor: pointer;color:#444;position:relative;font-size:13px;text-transform:uppercase;padding:0 0 5px 1px;width:100%;}
.checkbox label,
.radio label 						{text-transform:none;font-size:15px;width:auto;padding:2px 0 0;max-width:80%;}

label span 						{text-transform:none;}
input,textarea 						{outline: none;}
button, input, select, textarea 		{margin: 0;vertical-align: baseline; *vertical-align: middle;outline:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
button, input[type="button"], 
input[type="reset"], 
input[type="submit"] 				{background:none;cursor: pointer; text-transform:uppercase;-webkit-appearance: button; text-align:center;}
input[type="checkbox"], 
input[type="radio"] 				{box-sizing: border-box; width:100%;height:100%;}
input[type="search"] 								{-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration 	{-webkit-appearance: none;}
input[type="search"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea 					{display:block;padding:10px 15px; font-size:15px;width:100%;border:1px solid #ddd;color:#444;height:45px;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0; }
input[type=number] {-moz-appearance: textfield;}

textarea		{resize: none;height:125px;}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus 	{border-color:#bbb;}

input[type="file"] {border:1px solid #ddd;color:#444;padding:6px;margin:5px 0;}

fieldset > div {padding-bottom:15px;}

.error_message 	{font-weight:500;}
#contactform img	{float:right;}

/* 29 PLUGINS */

/* MENU CONFIGURATION
**********************************************************/
.jetmenu					{width: 100%;padding: 0;margin: 0;position: relative;float: left;list-style: none;background:none;}
.jetmenu li					{display: inline-block;float: left;position:initial;color:#787878;}
.jetmenu a					{z-index: 10;}
.jetmenu > li > a				{padding:31px 10px 29px;font-size:11px;text-transform:uppercase;font-weight:600;color:#787878;text-decoration: none;display: inline-block;}
.jetmenu > li:hover > a,
.jetmenu > li.active > a		{color:#253238;}

.jetmenu ul.dropdown, 
.jetmenu ul.dropdown li ul.dropdown 	{list-style: none;margin: 0;padding: 0;   display: none;position: absolute;z-index: 99;min-width: 134px;background: #fff;-webkit-box-shadow:2px 3px 3px rgba(0,0,0,.1);-moz-box-shadow:2px 3px 3px rgba(0,0,0,.1);box-shadow:2px 3px 3px rgba(0,0,0,.1);}
.jetmenu ul.dropdown				{top: 80px;}
.jetmenu ul.dropdown li ul.dropdown	{left: 100%;top: inherit;}
.jetmenu ul.dropdown li			{clear:both;width:100%;font-size:13px;border-bottom:1px solid #ddd;font-weight:500;text-transform:none;}
.jetmenu ul.dropdown li a			{width:100%;padding: 15px;display:inline-block;float:left;clear:both;text-decoration: none;color: #787878;}
.jetmenu ul.dropdown li:hover > a	{background:#f1f1f1;color:#253238;}

.jetmenu ul.dropdown li ul.dropdown.left	{left: auto;right: 100%;}

.jetmenu .indicator			{display:none;position: relative;left: -15px;top: 0;font-size: 14px;float: right;color:#C4A981;}
.jetmenu ul li .indicator		{top: 1px;left: -10px;}

.jetmenu > li > .megamenu			{position: fixed;display: none;width:100%;top: 80px;background:#fff;z-index: 99;padding:30px 0;text-align:center;-webkit-box-shadow:2px 3px 3px rgba(0,0,0,.1);-moz-box-shadow:2px 3px 3px rgba(0,0,0,.1);box-shadow:2px 3px 3px rgba(0,0,0,.1);font-weight:500;}
.jetmenu > li > .megamenu .row > div {padding-bottom:0;}

.jetmenu li > .megamenu ul		{margin:0;float: left;padding: 0;display: block;position: relative;width:100%;}
.jetmenu li > .megamenu ul li	{width: 100%;font-size:13px;}
.jetmenu li > .megamenu ul li a 	{float:left;width:100%;padding:12px 10px;border-bottom:1px solid #ddd;}
.jetmenu li > .megamenu p 		{padding:1px 10px 15px;color:#C4A981;border-bottom:1px solid #ddd;text-transform:uppercase;font-size:13px;font-weight:600;margin:-13px 0 0;}
.jetmenu li > .megamenu span 	{-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;display:inline-block;width:100%;margin-top:15px;text-transform:uppercase;font-size:13px;font-weight:600;}
.jetmenu li > .megamenu a				{color:#253238;}
.jetmenu li > .megamenu ul li a:hover		{background:#f1f1f1;}
.jetmenu li > .megamenu a:hover span 	{color:#C4A981;}

.jetmenu  .megamenu img{width: 100%;}

.jetmenu > li.fix-sub > .megamenu,
.jetmenu > li.fix-sub > .megamenu.half-width,
.jetmenu > li.fix-sub > .dropdown	{right: 0;}

.jetmenu > li > .megamenu.half-width		{width: 50%;}
.jetmenu > li > .megamenu.full-width		{width: 100%;left: 0;}

.jetmenu > li.right		{float: right;}
.jetmenu > li.right > .megamenu,
.jetmenu > li.right > .megamenu.half-width,
.jetmenu > li.right > .dropdown		{right: 0;}

.jetmenu > li.jsright	{float: right;}
.jetmenu > li.jsright.last > .megamenu,
.jetmenu > li.jsright.last > .megamenu.half-width,
.jetmenu > li.jsright.last > .dropdown	{right: 0;}

.jetmenu > li > a > i	{line-height: 23px !important;margin-right: 6px;font-size: 18px;float: left;}

.jetmenu > li.showhide			{display: none;width: 100%;height: 50px;cursor: pointer;color: #fff;/*background:#2B3A42*/;margin:15px 0;border-bottom:0px;}
.jetmenu > li.showhide span.title	{margin: 15px 0 0 25px;float: left;}
.jetmenu > li.showhide span.icon	{margin: 17px 20px;float: right;}
.jetmenu > li.showhide .icon em	{margin-bottom: 3px;display: block;width: 20px;height: 2px;background: #2F3A41;}


/* UNIFORM CUSTOM FORM ELEMENTS */

/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {text-align:left;-webkit-font-smoothing: antialiased;  -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
div.selector, div.checker, div.button, div.radio, div.uploader {display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;vertical-align: middle;}
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {cursor:pointer;margin: 0;padding: 0; -webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in; }

/* Input & Textarea */
input.uniform-input,select.uniform-multiselect,textarea.uniform 							{padding:10px 15px;border:1px solid #ddd;}
input.uniform-input.active,select.uniform-multiselect.active,textarea.uniform.active,
input.uniform-input.focus,select.uniform-multiselect.focus,textarea.uniform.focus  		{border-color:#bbb;}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active 			{-moz-appearance: none;-webkit-appearance: none; }

/* Select */
div.selector		 				{border:1px solid #ddd;line-height:43px;height:45px;position: relative;overflow: hidden;width:100% !important;padding-left:15px;background:#fff;}
div.selector span 				{position:relative;text-overflow: ellipsis;display: block;overflow: hidden;white-space: nowrap;height:45px;line-height:43px;background:#fff;cursor: pointer;width: 100% !important;padding-right:30px;}
div.selector span:before			{font-family:'FontAwesome';content:"\f107";position:absolute;top:1;right:15px;font-size:20px;color:#ccc;}
div.selector select 				{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;position: absolute;height:46px;top:0;left:0;width: 100%;}
div.selector.active,
div.selector.focus 				{border-color:#bbb;}

/* Checkbox */
div.checker 						{position:relative;top:0;margin-right:15px;float:left;}
div.checker, 
div.checker span, 
div.checker input 					{width:25px;height:25px;}
div.checker span 					{display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;background:#fff;border:1px solid #ddd;position:relative;}
div.checker span.checked:before 	{font-family:'FontAwesome';content:"\f00c";position:absolute;top:1px;left:5px;color:#666;}
div.checker input 					{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1; }

/* Radio */
div.radio 							{position: relative;top:0;margin-right:15px;float:left;}
div.radio, 
div.radio span, 
div.radio input 						{width:25px;height:25px; }
div.radio span 						{border:1px solid #ddd;background:#fff;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;position:relative;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;}
div.radio span.checked:before 		{content:"";width:11px;height:11px;background:#191f26;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;position:absolute;top:6px;left:6px;}
div.radio input 						{opacity: 0;filter: alpha(opacity=0);-moz-opacity: 0;border: none;background: none;display: -moz-inline-box;display: inline-block;*display: inline;zoom: 1;text-align: center;}

/* jQuery DatePicker */
.content .ui-datepicker			{width:100%;}
.ui-datepicker-header			{position:relative;}
.ui-datepicker-title			{background:#515E64;color:#fff;text-align:center;font-size:17px;font-weight:600;padding:13px 15px;}
.ui-datepicker-prev				{cursor:pointer;position:absolute;top:0;color:#fff;left:15px;text-indent:-999999px;}
.ui-datepicker-prev:before		{content:"\2039";position:absolute;top:3px;left:0;font-size:30px;color:#fff;text-indent:0;}
.ui-datepicker-next				{cursor:pointer;position:absolute;top:0;color:#fff;right:15px;text-indent:-999999px;}
.ui-datepicker-next:before		{content:"\203A";position:absolute;top:3px;right:0;font-size:30px;color:#fff;text-indent:0;}
.ui-datepicker th 				{text-align:center;background:#fff;text-transform:uppercase;color:#2B3941;border-color:#ddd;font-weight:400;}
.content .ui-datepicker th 		{font-size:14px;padding:15px 17px 14px;}
.ui-datepicker td 				{width:14.2857% !important;text-align:center;padding:0;background:#fff;color:#515E64;}
.content .ui-datepicker td		{font-size:18px;}
.ui-datepicker td a 				{font-weight:400;color:#515E64;}
.ui-datepicker td a,
.ui-datepicker td span 			{float:left;width:100%;height:100%;padding:12px;}
.content .ui-datepicker td a,
.content .ui-datepicker td span	{padding:17px;}

.ui-datepicker .ui-state-disabled,
.ui-datepicker .ui-datepicker-unselectable 		{background:#eee;color:#666;}
.ui-datepicker .ui-datepicker-today				{background:#515E64;color:#fff;}
.ui-datepicker .ui-datepicker-today a 			{color:#fff;}

.ui-datepicker a.ui-state-active,
.ui-datepicker a.ui-state-hover		{background:#2B3A42;color:#fff;font-weight:500;}

.ui-datepicker-month, .ui-datepicker-year {width:30%;margin:0 10px;}

/* 30 PRINT CSS*/
@media print {
  * {color: #000 !important;text-shadow: none !important;background: transparent !important;-webkit-box-shadow: none !important;box-shadow: none !important;font-size:10pt !important;}
  a,
  a:visited {text-decoration: underline;}
  a[href]:after {content: " (" attr(href) ")";}
  abbr[title]:after {content: " (" attr(title) ")";}
  a[href^="javascript:"]:after,
  a[href^="#"]:after {content: "";}
  pre,
  blockquote {border: 1px solid #999;page-break-inside: avoid;}
  thead {display: table-header-group;}
  tr,
  img {page-break-inside: avoid;}
  img {max-width: 100% !important;}
  p,
  h2,
  h3 {orphans: 3;widows: 3;}
  h2,
  h3 {page-break-after: avoid;}
  select {background:none !important;}

 .header,.sidebar,.footer {display:none;}	
 .main {margin:0;}
}


/* 31 RESPONSIVENESS */

@media screen and (max-width: 1400px) {
.results .one-fourth,
.gallery .one-fourth {width:33.3334%;}
}

@media screen and (max-width: 1200px) {
.wrap {width:94%;}
.lSAction 		{float:left;width:100%;padding:15px !important;border-top:1px solid #ddd;background:#fff;right:0;bottom:0;position:relative !important;}
.lSAction > a 	{opacity:1 !important;margin:0 !important;padding:0 15px;}
}

@media screen and (max-width: 1040px) {
div.one-fourth,	
div.one-sixth,
article.one-fourth,
.one-third,
.two-third,
.results .one-fourth,
.gallery .one-fourth  	{width:50%;}

.details div {width:100%;}
.details div:nth-child(2n) {border-left:none;}
}


@media screen and (max-width: 980px) {
.wrap {width:92%;}
nav.tabs .wrap {width:100%;}
.header							{position:fixed;height:auto;}
.header .logo 					{display:inline-block;padding:0;margin:15px 0 0;}
.main-nav						{float:left;width:100%;margin-top: -75px;}
.jetmenu .indicator				{display:block;}
.jetmenu > li						{display: block;width: 100%;border-bottom:1px solid #ddd;}
.jetmenu > li > a					{padding: 15px 0;}
.jetmenu a						{width: 100%;}
.jetmenu ul.dropdown, 
.jetmenu ul.dropdown li ul.dropdown				{float:left;margin:-10px 0 10px;width: 100% !important;left: 0;position: static !important;border: none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.jetmenu ul.dropdown li 						{background: #fff !important;border: none;}
.jetmenu ul.dropdown > li > a					{padding:5px 15px;color:#253238;}
.jetmenu > li > .megamenu						{width: 100% !important;position: static;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0;}
.jetmenu > li > .megamenu .wrap	 			{width:100%;max-width:100%;}
.jetmenu > li > .megamenu .row [class*="col"]	{display: block;width:100% !important;padding:0 0 15px;}
.jetmenu > li > .megamenu .row					{margin: 0;}
.jetmenu li > .megamenu p 						{margin:0 0 10px;padding:0 10px 12px;}
.jetmenu > li > .megamenu ul li a 					{border:none;padding:5px 15px;}

.advanced-search 				{top:0;}
.advanced-search .wrap > div ,
.advanced-search .wrap > div:first-child,
.advanced-search .wrap > div:last-child	{width:50%;padding:30px 15px 0;}
.search-hide					{margin:15px 0 0;}

input[type="search"],input[type="email"],input[type="text"],input[type="number"],input[type="password"],textarea {padding:11px 15px;}

.main {margin-top:100px;}

.fixed 			{position:static;}
.offset 			{margin-top:0 !important;}
.filter-hide 	{margin:-12px 0 13px;}
.filter-show 	{right:4%;}

.home nav.tabs li {font-size:17px;}

ul.twins li,
ul.triplets li,
ul.quadruplets li,
ol.twins li,
ol.triplets li,
ol.quadruplets li {width:100%;}

.blog .sidebar-right {margin:0;}
.blog .sidebar-right .widget {padding:0;}
}

@media screen and (max-width: 840px) {
.full-width, 	 	
.three-fourth, 	
.one-half,		
.one-third, 		
.two-third, 				
.one-fifth, 		
.one-sixth,
.sidebar.one-fourth,
.booking .two-third,
.booking .one-third  	{width:100%;}

.heightfix {height:auto !important;}

nav.tabs.six li {font-size:14px;}
.home nav.tabs li {font-size:15px;}

.grid4 .text,
.grid2 .text	{padding:30px 30px 10px !important;}
.grid4 .text h3,
.grid2 .text h3 	{padding-bottom:30px;}

.highlight		{padding:30px !important;margin:15px -30px 28px;}
.highlight h4	{padding-bottom:20px;}

.blog .sidebar-right,
.blog .sidebar-left {margin:0;}

.intro .wrap,
.wrap.center {max-width:100%;}

}

@media screen and (max-width: 670px) {
nav.tabs			{height:auto !important;padding:0;}
nav.tabs .wrap 	{float:left;}
nav.tabs li 		{width:100% !important;border-right:none;border-bottom:1px solid rgba(255,255,255,.18);text-align:left;}
nav.tabs li a 		{line-height:60px;}
nav.tabs li span	{margin:10px 15px 0;float:left;width:auto;}

.home nav.tabs li img 	{height:100px;}
.home nav.tabs li a 	{text-align:center;line-height:1.32;padding:10px 30px 30px;font-size:17px;}

ul.icons {margin:0;}

.wrap	{width:90%;}
.row 	{margin:0;}
.full-width,
.three-fourth ,
.one-half,
.one-third,
.two-third,
.one-fourth,
.one-fifth ,
.one-sixth,
.one-seventh	{padding-left:0;padding-right:0;width:100% !important;}

.filter-show 	{right:5%;}

.pricing  div {width:100%;margin:0 0 30px !important;}

.testimonials br {display:none;}
}

@media screen and (max-width: 480px) {
.content .ui-datepicker th,
.content .ui-datepicker td {font-size:13px;padding:5px;}

.advanced-search .wrap > div ,
.advanced-search .wrap > div:first-child,
.advanced-search .wrap > div:last-child	{width:100%;}
}